<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>

    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('register')}}">Register</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>

    <body>

        {% block content %}
        
        
            Welcome {{username}}
        
        
        
        {% endblock %}


    </body>
</html>